{% extends "master.html" %}
{% block content %}
{% include "header.html" %}
<div class="container">
  <h1>{{ category.name }}</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <th scope="row">{{item.id}}</th>
        <td>
          {{item.name}}
        </td>
        <td>
          {{item.description}}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <button type="reset" onclick="goBack()" class="btn btn-success">Go Back</button>
  <script>
      function goBack() {
          window.history.back();
      }
  </script>
</div>
{% endblock %}
